.App {
  text-align: center;
  height: 100vh;

  p {
    margin: 0;
  }

  .buttons {
    button {
      font-size: 18pt;
      min-width: 3em;
      min-height: 2em;
    }

    div:last-child {
      button {
        width: 9em;
      }
    }
  }
}